h1 {
  color: darkred;
  text-align: center;
  font-style: italic;
  font-size: 56px;
  font-family: sans-serif;
}
h2 {
  color: darkblue;
  text-align: center;
  font-style: oblique;
  font-size: 55px;
  font-family: monospace;
}