h1 {
  color: darkred;
  text-align: center;
  font-style: italic;
  font-size: 23px;
  font-family: sans-serif;
}
h2 {
  color: darkblue;
  text-align: center;
  font-style: oblique;
  font-size: 22px;
  font-family: monospace;
}
h3 {
  color: indigo;
  text-align: center;
  font-style: initial;
  font-size: 22;
  font-family: fantasy;
}
h4 {
  color: green;
  text-align: center;
  font-style: inherit;
  font-size: 22px;
  font-family: fantasy;
}
body {
  background-color: olive;
}
img {
  float: left;
  flex-grow: initial;
  flood-opacity: 0%;
  block-size: 280px;
  padding: 140px;
  width: 250px;
}
p {
  color: darkorange;
  font-size: 30px;
  font-style: oblique;
  font-family: serif;
}
ol {
  color: aliceblue;
  font-size: 28px;
  font-family: sans-serif;
  font-style: italic;
}